<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Masterpiece!</title>
</head>
<body>
    <div class='container'>
        <label> Title:</label>
        <input type='text' name='title'>

        <label> Description:</label>
        <input type='textarea' name='description'>

        <label> Price:</label>
        <input type='text' name='price'>

        <label> Image:</label>
        <input type='image' name='image'>
    </div>


</body>
</html>