<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artsy</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'firstpage.css' %}">

</head>
<div id="all">

    <body>
        <h1 id="welcome">Welcome to</h1>
        <!-- <h1 id="artsy" style="font-family: URW Chancery L, cursive; color:grey; font-size: 60px;text-shadow: 2px 2px teal;">ARTSY!</h1> -->
        <img src='/media/artsy/02.png' width="400" height="400" style="padding-left: 550px;">
        <h2> Sign in to see our artists, or as an artist broadcast your masterpieces and sell them!</h2>

        <div id="clicktoenter">
            <a style href="/">CLICK HERE TO BEGIN!</a>
        </div>


    </body>
    <footer>
        <a>About Us</a> | <a>Contact Us</a> | <a>Careers</a> | <a>Get Featured</a>
    </footer>
</div>

</html>